@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #d96500;
  --color-secondary: #ff8c42;
  --color-base-100: #f5f4f2;
  --color-accent: #2a7f8e;
  --color-neutral: #1f1e1d;
}


.active {
  @apply border-b-2 border-secondary rounded-none;
}

.form-input {
  @apply bg-gray-700 text-gray-200 border-0 rounded-md p-2 mb-4 focus:bg-gray-600 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150;
}

.add-form-input {
  @apply w-full bg-gray-800 rounded-md border-gray-700 text-white px-2 py-2
}

.animate-zoom {
  animation: zoom 1s ease-in-out 1s;
  overflow-x: hidden;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
    opacity: 0.5;
  }

  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}